{{ extend './common/main.html' }}

{{ block 'content' }}
<main>
    <section class="w-100 fl">
        <div class="w-at">
            <div class="w-100 fl co-bg">
                <div class="co-l fl">
                    <img class="img-fiuld fl" src="{{ data.banner }}" alt="">
                </div>
                <div class="co-r fl">
                    <div class="w-100 fl">
                        <img class="img-fiuld" src="web/images/contact_img2.jpg" alt="">
                    </div>
                    <div class="w-100 fl tx-ct">
                        <p class="co-p1">成都凯利捷商贸有限公司</p>
                        <p class="co-p2 co-p3">地址：成都市锦江区工业园锦华路三段xx号汇融国际xx栋xx单元xx楼x号</p>
                        <p class="co-p2">Add:No. xx, xxth Floor, Unit xx, Huirong International Building xx, No. xx, Section xx,</p>
                        <p class="co-p2">Jinhua Road, Industrial Park, Jinjiang District, Chengdu</p>
                        <p class="co-p2 co-p4">Tel:+86 028 8662 2750<a class="co-p2 co-a" href="http://www.beian.miit.gov.cn">粤ICP备16068158号</a></p>
                    </div>
                    <div class="w-100 fl co-lx">
                        <div class="co-lxl fl tx-ct">
                            <img class="img-fiuld" src="{{ data.pic }}" alt="微信服务号二维码">
                            <p class="co-lxp">微信服务号</p>
                        </div>
                        <div class="co-lxr fl">{{@data.content}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{ /block }}