{{ extend './common/main.html' }}

{{ block 'content' }}
<main>
    <section class="w-100 fl">
        <div class="w-at">
            <div class="w-100 fl lo-t">
                <img class="img-fiuld" src="{{__HOST__}}/{{ data.banner }}" alt="{{ data.title }}">
            </div>
            <div class="lo-a w-100 fl ps-re">
                <img class="img-fiuld lo-ai" src="{{__HOST__}}/web/images/LOUISE02.jpg" alt="{{ data.title }}">
                <div class="lo-atxt">
                    <p class="lo-ap">LOUISE ODIER</p>
                    {{@data.content}}
                    <!-- <span>LOUISE ODIER男装品牌源自香港，由香港知名服装设计师Kai于1999年创立。得益
                        于Kai早年欧洲游学工作经历，在此期间深受欧洲的文化和生活影响，其极近苛刻的
                        工匠精神，承袭传统经典融合现代时尚风尚，以中西服饰精髓为指引，以“演绎”的
                        独特品牌哲学，提炼东西方时尚的精粹，以一线品牌考究的材质，精湛的细节铸就每
                        一件服饰的品质魅力，以演绎真我的时尚宣言，造就了LOUISE ODIER品牌的核心理
                        念，为都市精英创作出极尽个性魅力的轻奢华服。演绎”，让未来充满无限想象。
                        LOUISE ODIER将“演绎”的精髓不断传递，风靡欧美10多个国家，将国际化的视角
                        注入品牌基因，围绕精英生活的方方面面，缔造出精英男士在不同场合的着装需求！</span> -->
                </div>
            </div>
            <div class="w-100 lo-b fl">
                <div class="lo-bg fl ps-re">
                    <div class="lo-bgi">
                        <img class="img-fiuld" src="{{__HOST__}}/web/images/LOUISE03.jpg" alt="{{ data.title }}">
                    </div>
                </div>
                <div class="lo-bg fl ps-re">
                    <div class="lo-bgi">
                        <img class="img-fiuld" src="{{__HOST__}}/web/images/LOUISE04.jpg" alt="{{ data.title }}">
                    </div>
                </div>
                <div class="lo-bg fl ps-re">
                    <div class="lo-bgi">
                        <img class="img-fiuld" src="{{__HOST__}}/web/images/LOUISE05.jpg" alt="{{ data.title }}">
                    </div>
                </div>
            </div>
            <div class="w-100 fl lo-c ps-re">
                <img class="img-fiuld lo-ci1" src="{{__HOST__}}/web/images/LOUISE06.jpg" alt="{{ data.title }}">
                <img class="img-fiuld lo-ci2" src="{{__HOST__}}/web/images/LOUISE07.jpg" alt="{{ data.title }}">
                <span class="lo-ctxt">FASHION</span>
                <img class="img-fiuld lo-ci3" src="{{__HOST__}}/web/images/LOUISE17.jpg" alt="{{ data.title }}">
                <span class="lo-cbg"></span>
            </div>
            <div class="w-100 fl lo-d">
                <div class="lo-dl fl">
                    <img class="img-fiuld" src="{{__HOST__}}/web/images/LOUISE08.jpg" alt="{{ data.title }}">
                </div>
                <div class="lo-dr fr">
                    <img class="img-fiuld lo-drmb" src="{{__HOST__}}/web/images/LOUISE09.jpg" alt="{{ data.title }}">
                    <img class="img-fiuld" src="{{__HOST__}}/web/images/LOUISE10.jpg" alt="{{ data.title }}">
                </div>
            </div>
            <div class="w-100 fl lo-e ps-re">
                <img class="img-fiuld lo-ed" src="{{__HOST__}}/web/images/LOUISE11.jpg" alt="{{ data.title }}">
            </div>
            <div class="w-100 fl lo-f">
                <div class="lo-fl fl">
                    <img class="img-fiuld" src="{{__HOST__}}/web/images/LOUISE12.jpg" alt="{{ data.title }}">
                    <img class="img-fiuld" src="{{__HOST__}}/web/images/LOUISE14.jpg" alt="{{ data.title }}">
                </div>
                <div class="lo-fr fr">
                    <img class="img-fiuld" src="{{__HOST__}}/web/images/LOUISE13.jpg" alt="{{ data.title }}">
                </div>
            </div>
            <div class="w-100 fl fl-g ps-re">
                <img class="img-fiuld fl" src="{{__HOST__}}/web/images/LOUISE15.jpg" alt="{{ data.title }}">
                <img class="img-fiuld fl" src="{{__HOST__}}/web/images/LOUISE16.jpg" alt="{{ data.title }}">
                <span class="lo-ctxt">FASHION</span>
            </div>
        </div>
    </section>
</main>
{{ /block }}