<link rel="shortcut icon" href="{{__HOST__}}/m_web/images/logo1.jpg">   <!-- favicon.ico图标的名字 -->
<link rel="stylesheet" href="{{__HOST__}}/m_web/css/style.css">
<link rel="stylesheet" href="{{__HOST__}}/m_web/js/swiper/swiper.min.css">
<link rel="stylesheet" href="{{__HOST__}}/m_web/css/bootstrap.min.css">
<link rel="stylesheet" href="{{__HOST__}}/m_web/css/base.css">
<script src="{{__HOST__}}/m_web/js/jquery-3.3.1.min.js"></script>
<script src="{{__HOST__}}/m_web/js/bootstrap.min.js"></script>
<!--[if lte IE 8]> 
    <script type="text/javascript" src="{{__HOST__}}/m_web/js/html5shiv.min.js"></script>
<![endif]-->